{% extends "base.html" %} {% block body %} {% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
    <div class="container">
        <h1>Запрос для базы данных</h1>
        <form method="post">
            <input type="text" class="form-control" name="title" id="title">
            <br>
            <button class="btn btn-success" type="submit">Выполнить</button>
        </form>
    </div>
</section>

{% endblock %} {% block scripts %}
<script src="../static/js/scripts.js">
</script>
{% endblock %}